# Dependency directories
node_modules/

# Environment variables file
.env

# Log files
*.log

# IDE and editor files
.vscode/
.idea/
*.iml
.DS_Store

# Build output
dist/
build/
out/

# Configuration files
config.js
